.button {
    width: 256px;
    padding: 25px 36px;
    background-color: $button-color;
    border-radius: 8px;

    font-size: 16px;
    font-weight: 500;
    line-height: 1.5%;

    color:#FFF !important;
}